<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.product.mapper.SkuAttrValueMapper">
    <resultMap id="BaseAttrInfoMap" type="com.atguigu.gmall.model.product.BaseAttrInfo" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="attrValueList" ofType="com.atguigu.gmall.model.product.BaseAttrValue" autoMapping="true">
            <id property="id" column="attr_value_id"/>
            <result property="valueName" column="value_name"/>
        </collection>
    </resultMap>

    <!--批量插入sku属性值-->
    <insert id="insertBatch">
        insert into sku_attr_value(attr_id, value_id, sku_id, create_time, update_time, is_deleted)
        values
        <foreach collection="skuAttrValueList" item="skuAttrValue" separator=",">
            (#{skuAttrValue.attrId}, #{skuAttrValue.valueId}, #{skuAttrValue.skuId}, now(), now(), 0)
        </foreach>
    </insert>

</mapper>