<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">

    <!-- 批量插入销售属性值 -->
    <insert id="insertBatch">
        insert into sku_sale_attr_value (sku_id, spu_id, sale_attr_value_id, create_time, update_time, is_deleted)
        values
        <foreach collection="skuSaleAttrValueList" item="skuSaleAttrValue" separator=",">
            (#{skuSaleAttrValue.skuId}, #{skuSaleAttrValue.spuId}, #{skuSaleAttrValue.saleAttrValueId}, now(), now(), 0)
        </foreach>
    </insert>
    <!--根据spuId 查询sku的销售属性值，使用Map封装返回数据-->
    <select id="getSkuValueIdsMap" resultType="java.util.Map">
        select
            skav.sku_id,
            GROUP_CONCAT(skav.sale_attr_value_id order by ssav.base_sale_attr_id SEPARATOR '|') as value_ids
        from sku_sale_attr_value skav
                 inner join spu_sale_attr_value ssav on skav.sale_attr_value_id = ssav.id
        where skav.spu_id = #{spuId} and skav.is_deleted = 0
        group by skav.sku_id;
    </select>
</mapper>